body {

    background-image: url(/img/fundo-fotografico..jpg);
    background-size: cover;
    background-size: 100%;

    background-repeat: no-repeat;
}
.cabecalho{
    padding: 3%;
    display: flex;

}

#menu ul{
padding: 0px;
margin:0px ;
background-color: rgb(255, 255, 255);
list-style: none;
}

#menu ul li {display: inline;}

#menu ul li a {
    padding: 2px 10px ;
    display: inline block;
    text-decoration:none;
border-bottom: 3px rgb(0, 0, 0)



/*..*/ 


}
 /*........................................................................................*/  
.simbolo{
     width: 50%;
     height: auto;
     justify-content:space-between;
     align-items: center;
     


}
 /*........................................................................................*/  
nav{
     background-color: rgb(131, 148, 115)

}
 /*........................................................................................*/           
main{
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
 /*........................................................................................*/           
footer{
    
    padding: 3%;

}
 /*........................................................................................*/  
  p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    color: aliceblue;
  }
  figure{
text-align:center;


  }

    ..caixa.imagem{
text-align: center;
margin-top: 1%;


    }